html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-board {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
}

.buttons {
  margin-top: 10px;
}
